<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pontuação Geral</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h2 class="h2 border-left pl-2">
            Tabela 
        </h2>
    </div>
</div>

<div class="apifutebol-tabela" data-client-id="LKHZCN3DM7D2"></div> -->

<section class="round-selector" *ngFor="let round of iRound">
    <a href="#"><img src="assets/img/back.png" width="20" height="20"></a>
        <i *ngIf="true">{{ round.nome }}</i>
    <a href="#"><img src="assets/img/advance.png" width="20" height="20"></a>
</section>

<div class="flex">
    <div class="card-header  mb-1">
        <div class="points" *ngIf="false">{{'' }}</div>
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">AMG</span><img src="assets/img/America-MG.svg" width="19"
                    height="19"></div>
            <div>
                <span class="scoreboard" *ngIf="false">{{'' }}</span>

                <span class="score-bet item" *ngIf="true">( {{ '' }}</span>
                <img src="assets/img/botao-x.svg" width="10" height="10">
                <span class=" score-bet item" *ngIf="true">{{ '' }} )</span>

                <span class="scoreboard" *ngIf="true">{{ '' }}</span>
            </div>
            <div class="acronyms-icon"><img src="assets/img/fluminense.svg" width="20" height="20"><span
                    class="acronyms">FLU</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ '' }} {{ '' }} {{ '' }}
        </div>
        <div *ngIf="false">Encerrado</div>
    </div>

    <div *ngFor="let round of iRound">

        {{ round.nome }}

        {{ round.rodada}}


        teste

    </div>

    teste
