<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pontuação Geral</li>
    </ol>
</nav>

<table class="table table-hover">
    <thead>
        <tr class="bg-dark text-light">
            <th>Rodadas</th>
            <th>Ações</th>
            <th>Informações</th>
        </tr>
    </thead>
</table>

<div class="row mb-4">
    <div class="col-md">
        <h2 class="h2 border-left pl-2">
            Resultados
        </h2>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right">
            Classificação
        </a>
    </div>
</div>
<div class="">
    <div class="card-body pdd">
        <div class="jogo__informacoes">
            <span><b>SÁB 05/08/2023 </b></span>
            <span>Maracanã</span>
            <span><b>16:00</b></span>
        </div>
        <section class="container center">
            <div class=" sigla">FLA<img src="assets/img/Flamengo.svg" width="25" height="25"></div>
            <div class="">
                <span class="placar-jogo"><b>1</b></span>
                <span class=" placar-aposta item">( 0 <img src="assets/img/botao-x.svg"  width="10" height="10"> 0 )</span>
                <span class="placar-jogo"><b>1</b></span>
            </div>
            <div class=" sigla"><img src="assets/img/sao-paulo.svg" width="25" height="25"> SPO</div>
        </section>
        <div><a class="item3" routerLink="">Encerrado</a></div>
    </div>
</div><br>
<div class="">
    <div class="card-body pdd">
        <div class="jogo__informacoes">
            <span><b>SÁB 05/08/2023 </b></span>
            <span>Maracanã</span>
            <span><b>16:00</b></span>
        </div>
        <section class="container center">
            <div class=" sigla">FLA<img src="assets/img/Flamengo.svg" width="25" height="25"></div>
            <div class="">
                <span class="placar-jogo"><b>1</b></span>
                <span class=" placar-aposta item">( 0 <img src="assets/img/botao-x.svg"  width="10" height="10"> 0 )</span>
                <span class="placar-jogo"><b>1</b></span>
            </div>
            <div class=" sigla"><img src="assets/img/sao-paulo.svg" width="25" height="25"> SPO</div>
        </section>
        <div><a class="item3" routerLink="">Encerrado</a></div>
    </div>
</div><br>
<div class="">
    <div class="card-body pdd">
        <div class="jogo__informacoes">
            <span><b>SÁB 05/08/2023 </b></span>
            <span>Maracanã</span>
            <span><b>16:00</b></span>
        </div>
        <section class="container center">
            <div class=" sigla">FLA<img src="assets/img/Flamengo.svg" width="25" height="25"></div>
            <div class="">
                <span class="placar-jogo"><b>1</b></span>
                <span class=" placar-aposta item">( 0 <img src="assets/img/botao-x.svg"  width="10" height="10"> 0 )</span>
                <span class="placar-jogo"><b>1</b></span>
            </div>
            <div class=" sigla"><img src="assets/img/sao-paulo.svg" width="25" height="25"> SPO</div>
        </section>
        <div><a class="item3" routerLink="">Encerrado</a></div>
    </div>
</div><br>
<div class="">
    <div class="card-body pdd">
        <div class="jogo__informacoes">
            <span><b>SÁB 05/08/2023 </b></span>
            <span>Maracanã</span>
            <span><b>16:00</b></span>
        </div>
        <section class="container center">
            <div class=" sigla">FLA<img src="assets/img/Flamengo.svg" width="25" height="25"></div>
            <div class="">
                <span class="placar-jogo"><b>1</b></span>
                <span class=" placar-aposta item">( 0 <img src="assets/img/botao-x.svg"  width="10" height="10"> 0 )</span>
                <span class="placar-jogo"><b>1</b></span>
            </div>
            <div class=" sigla"><img src="assets/img/sao-paulo.svg" width="25" height="25"> SPO</div>
        </section>
        <div><a class="item3" routerLink="">Encerrado</a></div>
    </div>
</div><br>
<div class="">
    <div class="card-body pdd">
        <div class="jogo__informacoes">
            <span><b>SÁB 05/08/2023 </b></span>
            <span>Maracanã</span>
            <span><b>16:00</b></span>
        </div>
        <section class="container center">
            <div class=" sigla">FLA<img src="assets/img/Flamengo.svg" width="25" height="25"></div>
            <div class="">
                <span class="placar-jogo"><b>1</b></span>
                <span class=" placar-aposta item">( 0 <img src="assets/img/botao-x.svg"  width="10" height="10"> 0 )</span>
                <span class="placar-jogo"><b>1</b></span>
            </div>
            <div class=" sigla"><img src="assets/img/sao-paulo.svg" width="25" height="25"> SPO</div>
        </section>
        <div><a class="item3" routerLink="">Encerrado</a></div>
    </div>
</div><br>