<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pontuação Geral</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            Resultados
        </h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right">
            Classificação
        </a> 
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-dark text-light">
            <th>RODADA 1</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               <strong>Placar FLA 1 X 1 SPO</strong><br>
               <small>APOSTA FLA 0 X 0 SPO</small>
            </td>
            <td>
                <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-outline-danger btn-sm mr-2">ENCERRADO</a><br>
                3 Pontos
            </td>
        </tr>
        <tr>
            <td>
               <strong>Placar FLA 2 X 1 SPO</strong><br>
               <small>APOSTA FLA 0 X 0 SPO </small>
            </td>
            <td>
                <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-outline-danger btn-sm mr-2">ENCERRADO</a><br>
                0 Pontos
            </td>
        </tr> <tr>
            <td>
               <strong>Placar FLA 1 X 2 SPO</strong><br>
               <small>APOSTA FLA 0 X 1 SPO </small>
            </td>
            <td>
                <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm mr-2">EM ANDAMENTO</a><br>
                3 pontos
            </td>
        </tr>
        <tr>
            <td>
               <strong>Placar FLA 1 X 1 SPO</strong><br>
               <small>APOSTA 1 X 1 </small>
            </td>
            <td>
                <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-outline-danger btn-sm mr-2">ENCERRADO</a><br>
                5 Pontos
            </td>
        </tr>
        <tr>
            <td>
               <strong>Placar FLA 3 X 2 SPO</strong><br>
               <small>APOSTA 3 X 2 </small>
            </td>
            <td>
                <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm mr-2">EM ANDAMENTO</a><br>
                5 Pontos
            </td>
        </tr>
        
        