<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pontuação Geral</li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md button ">
        <p-toast position="top-center" key="tc"></p-toast>
        <button type="button" pButton pRipple (click)="showTopCenter()" label="Salvar" class="p-button-success"></button>
    </div>
</div>


<section class="round-selector">
    <a href="#"><img src="assets/img/back.png" width="20" height="20"></a>1º Rodada
    <a href="#"><img src="assets/img/advance.png" width="20" height="20"></a>
</section>

<div class="flex">
    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">AMG</span><img src="assets/img/America-MG.svg" width="19"
                    height="19"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/fluminense.svg" width="20" height="22"><span
                    class="acronyms">FLU</span></div>
        </section>

        <div class="date__playing" *ngIf="true">
            {{ 'SÁB 15/04/2023' }} {{ 'INDEPEDÊNCIA' }} {{ '16:00' }}
        </div>
    </div>

    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">PAL</span><img src="assets/img/Palmeiras.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/Cuiaba.svg" width="20" height="20"><span
                    class="acronyms">CUI</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'SÁB 15/04/2023' }} {{ 'ALIANZ PARQUE' }} {{ '16:00' }}
        </div>
    </div>

    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">FOR</span><img src="assets/img/Fortaleza.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/internacional.svg" width="20" height="21"><span
                    class="acronyms">INT</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'SÁB 15/04/2023' }} {{ 'CASTELÃO' }} {{ '16:00' }}
        </div>
    </div>

    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">CAP</span><img src="assets/img/Athletico-PR.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/GOIAS.svg" width="20" height="20"><span
                    class="acronyms">GOI</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'SÁB 15/04/2023' }} {{ 'LIGGA ARENA' }} {{ '18:30' }}
        </div>
    </div>

    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">BOT</span><img src="assets/img/botafogo.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/sao-paulo.svg" width="20" height="20"><span
                    class="acronyms">SPO</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'SÁB 15/04/2023' }} {{ 'NILTON SANTOS' }} {{ '18:30' }}
        </div>
    </div>

    <div class="card-header  mb-1">

        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">RBB</span><img src="assets/img/bragantino.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/bahia.svg" width="20" height="20"><span
                    class="acronyms">BAH</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'SÁB 15/04/2023' }} {{ 'NABI ABI CHEDID' }} {{ '18:30' }}
        </div>
    </div>


    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">CAM</span><img src="assets/img/atletico-mg.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/vasco.svg" width="20" height="20"><span
                    class="acronyms">VAS</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'SÁB 15/04/2023' }} {{ 'MINEIRÃO' }} {{ '21:00' }}
        </div>
    </div>

    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">COR</span><img src="assets/img/Athletico-PR.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/GOIAS.svg" width="20" height="20"><span
                    class="acronyms">CRU</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'DOM 16/04/2023' }} {{ 'NEO QUÍMICA ARENA' }} {{ '16:00' }}
        </div>
    </div>

    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">FLA</span><img src="assets/img/Flamengo.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/coritiba.svg" width="20" height="20"><span
                    class="acronyms">CFC</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'DOM 16/04/2023' }} {{ 'MARACANÃ' }} {{ '16:00' }}
        </div>
    </div>

    <div class="card-header  mb-1">
        <section class="container center">
            <div class="acronyms-icon"><span class="acronyms">GRE</span><img src="assets/img/gremio.svg" width="20"
                    height="20"></div>
            <div>
                <input class="scoreboard" type="text">
                <span class="item"> <img src="assets/img/botao-x.svg" width="10" height="10"></span>
                <input class="scoreboard" type="text">
            </div>
            <div class="acronyms-icon"><img src="assets/img/santos.svg" width="20" height="20"><span
                    class="acronyms">SAN</span></div>
        </section>
        <div class="date__playing" *ngIf="true">
            {{ 'DOM 16/04/2023' }} {{ 'ALFREDO JACONI' }} {{ '18:30' }}
        </div>
    </div>
</div>