 *{
     box-sizing: border-box;
} 

.bord-box {  
    padding: 0.75rem 1.25rem;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.center {
	align-content: center;
}

.container {
	display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
	margin: 5px 0px;
	justify-content: space-evenly;
}

.card-header:hover{
    background-color:  rgba(0, 0, 0, 0.125);
}

.item {
    padding: 3px 3px;
    text-align: center;
    font-size: 1.5em;
}

.score-bet {
    font-size: 50%;
    font-weight: 400;
    font-size: small;   
}

.date__playing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	color: #070707;
    font-family: opensans;
    font-size: 0.6875em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    margin: -10px;
}

.points {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	color: #070707;
    font-size: 0.7875em;
    font-weight: bold;
    letter-spacing: 1.7px;
    margin: -8px;
}

.round-selector {
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #ccc;
}

.acronyms-icon {
    font-family: initial;
    margin: -3px -2px 0px 0px;
    padding: 2px 14px 2px 14px;
    font-size: 100%;
}

.acronyms {
    font-family: initial;
    margin: 10px;
    font-size: 120%;

}

span {
    font-weight: bold;
    
}

 